<nav class='navbar navbar-default navbar-fixed-top'>
  <!-- <div id='nav_bar' class='container'> -->
  <div class='container <%= 'immunization_nav' if @is_c4d_immunization %>'>
    <div id='nav_bar_header' class='navbar-header <%= 'immunization_nav' if @is_c4d_immunization %>'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#navbar' aria-expanded='true' aria-controls='navbar'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <%= link_to c4d_path, class: 'navbar-brand' do %>
        <%= image_tag 'home/Rhizome-V2_White.png', id: 'nav_bar_logo', class:'img-responsive', alt: 'GPEI Toolkit' %>
      <% end %>
    </div>
    <div id='navbar' class='navbar-collapse collapse <%= 'immunization_nav' if @is_c4d_immunization %>'>
      <ul id='sop_c4d_nav_list_items' class="nav navbar-nav <%= 'display_none_ow' if @display %>">
      <% if @is_sop %>
        <li id='sop_nav_button' class='<%= @backgrounds[:borders] if @backgrounds[:index] %>'><a href='/sop/'>SOP</a></li>
        <li id='sop_overview_button' class='<%= @backgrounds[:borders] if @backgrounds[:overview] %>'><a href='/sop/overview/' <%= 'style=background:' + @backgrounds[:overview] + ';' if @backgrounds[:overview] %>>OVERVIEW OF THE SOPs</a></li>
        <li id='sop_what_to_do_nav_button' class='<%= @backgrounds[:borders] if @backgrounds[:wtdw] %>'><a href='/sop/what_to_do_when/' <%= 'style=background:' + @backgrounds[:wtdw] + ';' if @backgrounds[:wtdw] %>>WHAT TO DO, WHEN</a></li>
      <% end %>
      <% if @is_library || @is_c4d %>
        <li>
          <a id='c4d_nav_button' href='/c4d/' class="<%= "active" if (@is_c4d_nav && !@is_library) %> <%= "show_color" if @is_c4d%>">C4D</a>
        </li>
        <li>
          <a id='c4d_understand_button' href='/c4d/understand/' <%= "style=background-color:#{ @c4d_category.color }" if @is_c4d_understand %> class='<%= 'active' if @is_c4d_understand %>'>1. UNDERSTAND</a>
        </li>
        <li>
          <a id='c4d_plan_button' href='/c4d/plan/' <%= "style=background-color:#{ @c4d_category.color }" if @is_c4d_plan %> class='<%= 'active' if @is_c4d_plan %>'>2. PLAN</a>
        </li>
        <li>
          <a id='c4d_act_button' href='/c4d/act/' <%= "style=background-color:#{ @c4d_category.color }" if @is_c4d_act %> class='<%= 'active' if @is_c4d_act %>'>3. ACT</a>
        </li>
        <li>
          <a id='c4d_tools_button' href='/library/' <%= "style=background-color:#{ @c4d_category.color }" if @is_c4d_tools %> class='<%= 'active' if @is_c4d_tools %> <%= 'library_active' if @is_library %>'>4. LIBRARY</a>
        </li>
        <li id='c4d_category_dropdown_li'>
          <div id='c4d_category_dropdown' class="ui pointing dropdown">
            <button type="button" class="btn btn-default btn-sm">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <div id="c4d_category_dropdown_items" class="left menu">
              <div class="item">
                <a href='/c4d/immunization/'>Social Data Workshop for Immunization</a>
              </div>
            </div>
          </div>
        </li>
      <% end %>
      </ul>
      <ul class='nav navbar-nav navbar-right'>
        <li><a id='nav_contact_link' class='<%= 'immunization_nav' if @is_c4d_immunization %>' href=''>CONTACT</a></li>
        <li><a id='nav_about_link' class='<%= 'immunization_nav' if @is_c4d_immunization %>' href=''>ABOUT</a></li>
        <li><a id='nav_library_link' href='/library/' class='<%= 'active' if @is_library %>'><img src='/assets/icons/Icon-Library.png'/></a></li>
        <!-- <li><a id='nav_search_link' href=''><img src='/assets/icons/Icon-search.png'/></a></li> -->
        <% if current_user %>
          <li id='toolkit_dropdown_li'>
            <div id='toolkit_dropdown' class="ui pointing dropdown right">
              <img src='/assets/icons/Icon-user.png'/>
              <div id="my_rhizome_dropdown_items" class="left menu">
                <div class="item">
                  <%= current_user.first_name + " " + current_user.last_name %>
                </div>
                <% if latest_notification %>
                <div class="item">
                  <i class="fa fa-bell-o" aria-hidden="true"></i>
                  <span class="text white_text_black_bg">Latest update</span>
                  <div id='notification_item' class="left menu">
                    <div class="item white_text_black_bg" id="sop_no_items_selected"><%= latest_notification.content %></div>
                  </div>
                </div>
                <% end %>
                <!-- uncomment below when SOP returns -->
<!--                 <div class="item">
                  <i class="fa fa-caret-left white_text_black_bg"></i>
                  <span class="text white_text_black_bg">SOP Checklist</span>
                  <div id='sop_checklist_list' class="left menu">
                    <#% if current_user.sop_checklist.sop_articles.empty? %>
                      <div class="item white_text_black_bg" id="sop_no_items_selected">No articles selected</div>
                    <#% else %>
                      <#% current_user.sop_checklist.sop_articles.each do |article| %>
                        <div id="<#%= article.id %>" class="item">
                        <#%= link_to sop_article_path(article),  :id => article.title, class: 'white_text_black_bg' do %>
                          <#%= article.title %>
                        <#% end %>
                        <i id="<#%= article.title %>" class="fa fa-remove white_text_black_bg" aria-hidden="true"></i>
                        </div>
                      <#% end %>
                    <#% end %>
                  </div>
                </div> -->
                <div class="item">
                  <i class="fa fa-caret-left white_text_black_bg"></i>
                  <span class="text white_text_black_bg">C4D Toolkit</span>
                  <div id ='c4d_toolkit_list' class="left menu">
                    <% if current_user.c4d_toolkit.c4d_articles.empty? %>
                      <div id="c4d_no_items_selected" class="item white_text_black_bg">No articles selected</div>
                    <% else %>
                      <% current_user.c4d_toolkit.c4d_articles.each do |article| %>
                        <div id="<%= article.id %>" class="item">
                        <%= link_to c4d_article_path(article),  :id => article.title, class: 'white_text_black_bg' do %>
                          <%= article.title %>
                        <% end %>
                        <i id="<%= article.title %>" class="fa fa-remove white_text_black_bg" aria-hidden="true"></i>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <% if current_user.is_admin? || current_user.is_editor? %>
                  <div class="item">
                    <a id="nav_cms_link" class="white_text_black_bg" href='/cms/'><i class="fa fa-cogs" aria-hidden="true"></i>CMS</a>
                  </div>
                <% end %>
                <div class="item">
                  <a id="nav_user_sign_out" class="white_text_black_bg" href=''><i class="fa fa-sign-out" aria-hidden="true"></i>Sign out</a>
                </div>
              </div>
            </div>
              <!-- end of dropdown -->
          </li>
        <% else %>
          <li id='nav_user_sign_in_li'>
            <a id="nav_user_sign_in"  class="<%= 'white_text_black_bg' unless @is_c4d_immunization %> <%= 'immunization_nav' if @is_c4d_immunization %>" href=''><i id="sign_in_icon" class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Sign in</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
    <div id='user_account_modal' class="ui modal">
      <div id="user_account_header" class="header"></div>
      <div id="user_account_content" class="content"></div>
    </div>
    <div id="reference_link_show_modal" class="ui large coupled modal">
      <div class="header">
      </div>
      <div class="content">
      </div>
    </div>
    <div id="c4d_article_show_modal" class="ui large coupled modal">
      <div class="header">
      </div>
      <div class="content">
      </div>
    </div>
    <div id="sop_article_show_modal" class="ui large coupled modal">
      <div class="header">
      </div>
      <div class="content">
      </div>
    </div>
    <div id="vimeo_modal" class="ui large coupled modal">
      <div class="header col-md-12">
        <div class='col-md-12 text-right'><a id='close_multimedia_modal_icon' href=''><i class="fa fa-times" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;</div>
      </div>
      <div class="content col-md-12">
      </div>
    </div>
    <div id="filter_modal" class="ui large modal">
      <div class="content">
      </div>
    </div>
    <div id="article_search_modal" class="ui modal">
      <div class="header">
      </div>
      <div class="content">
      </div>
    </div>
  </div>
</nav>