<div id='nav-bar' class='container-fluid'>
  <%= link_to root_path do %>
    <div class='col-md-2'>
      <%= image_tag 'home/GPEI_logo_b-w.png', width:'75%', height:'75%', class: 'image-responsive', alt: 'GPEI Toolkit' %>
      <%= image_tag "home/#{@img_name}.png", width:'75%', height:'75%',class: 'image-responsive', alt: 'SOP' %>
    </div>
  <% end %>
  <div id='my_rhizome_dropdown' class='col-md-offset-10'>
    <div class="ui selection dropdown">
    <div class='header'>My Rhizome</div>
      <div class="menu">
        <div class="item" data-value="Account">Account</div>
        <ul id='sop_checklist_list' class="item list-unstyled" data-value="SOP Checklist"><i class="fa fa-list" aria-hidden="true"></i>SOP Checklist
          <% @user.sop_checklist.sop_articles.each do |article| %>
          <li id="<%= article.title %>"><a href="sop_articles/<%= article.id.to_s %>"><%= article.title %></a><i class="fa fa-remove" aria-hidden="true"></i></li>
          <% end %>
        </ul>
        <div class="item" data-value="C4D Toolkit"><i class="fa fa-list" aria-hidden="true"></i>C4D Toolkit</div>
      </div>
    </div>
  </div>
</div>

<!--   <div id='my_rhizome_dropdown'>
    <div class="ui menu">
      <div class="ui pointing dropdown link item">
        <span class="text">My Rhizome</span>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="header">Categories</div>
          <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">Clothing</span>
            <div class="menu">
              <div class="header">Mens</div>
              <div class="item">Shirts</div>
              <div class="item">Pants</div>
              <div class="item">Jeans</div>
              <div class="item">Shoes</div>
              <div class="divider"></div>
              <div class="header">Womens</div>
              <div class="item">Dresses</div>
              <div class="item">Shoes</div>
              <div class="item">Bags</div>
            </div>
          </div>
          <div class="item">Home Goods</div>
          <div class="item">Bedroom</div>
          <div class="divider"></div>
          <div class="header">Order</div>
          <div class="item">Status</div>
          <div class="item">Cancellations</div>
        </div>
      </div>
    </div>
  </div>
 -->