<%= render 'dashboard/nav' %>
<% if @sop_article %>
<div class='col-md-3' style='border: 2px white solid'>
  <div id="sop_article_logo_row" class='row' style="background-color: <%=  @sop_article.sop_time.color %>;">
    <%= link_to sop_path do %>
    <div style="position:absolute;top:5px;left:5px;color:white;z-index=10"><span>close</span><i class="fa fa-remove" aria-hidden="true"></i></div>
    <% end %>
    <div class='sop_article_icon col-md-2'>
      <%= image_tag "sop/icons/#{@sop_article.sop_icon.title}.png", id: "sop_article_icon", class: 'image-responsive', alt: @sop_article.sop_icon.title %>
    </div>
    <p id='grid_item_article_title' style="visibility:hidden;"><%= @sop_article.title %></p>
    <a class='grid_add' href='#' style="top:5px;right:5px;position:absolute;<%= style_visible('add', @user, @sop_article) %>;color:black;"><i class="fa fa-plus" aria-hidden="true"></i></a>
    <a class='grid_check' href='#' style="top:5px;right:5px;position:absolute;<%= style_visible('check', @user, @sop_article) %>;color:black;"><i class="fa fa-check" aria-hidden="true"></i></a>

    <ul id='sop_article_logo_text' class='list-unstyled col-md-1'>
      <li><strong style='font-size:115%;color:<%= get_color_for_sop_time(@sop_article.sop_time.period) %>;'><%= @sop_article.sop_time.period %></strong></li>
      <li><strong style='font-size:125%;position:absolute;left:-100%;margin-top:10px;color:<%= get_color_for_sop_time(@sop_article.sop_time.period) %>;'><%= @sop_article.title.capitalize %></strong></li>
    </ul>
  </div>
  <div class='row'>
    <h2 style='color:#B12924;margin-top:15px;padding-left:3%;font-size:110%'>Article Classification</h3>
    <p class='sop_article_show_summary_header'>TIME</p>
    <p class='sop_article_show_summary_text'><%= @sop_article.sop_time.period.upcase %></p>
    <br>
    <p class='sop_article_show_summary_header'>FUNCTION</p>
    <p class='sop_article_show_summary_text'><%= @sop_article.sop_category.title.upcase %></p>
    <br>
    <p class='sop_article_show_summary_header'>RESPONSIBLE</p>
    <p class='sop_article_show_summary_text'><%= @sop_article.responsibility.title.upcase %></p>
    <br>
    <p class='sop_article_show_summary_header'>SUPPORT</p>
    <p class='sop_article_show_summary_text'><%= @sop_article.support.upcase if @sop_article.support %></p>
  </div>
  <% if !@sop_article.sop_reference_links.empty? %>
  <div class='row'>
    <div id='sop_show_references'>
      <ul class='list-unstyled' style='color: black;'>
        <% @sop_article.sop_reference_links.each do |link| %>
          <li><%= link_to link.file_name, sop_reference_link_path(link) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>
    <!-- if table of content exists row of toc -->
    <!-- <div id='sop_show_table_of_contents'> -->
    <!-- </div> -->
</div>
<div class='col-md-9' style='border: 2px white solid'>
  <div class='row'>
    <div id='sop_article_show'>
     <%= @sop_article.article %>
    </div>
  </div>
  <div class='row'>
    <div id='sop_cycle_articles'>
      <% if @sop_article_last_index != 0 %>
        <div class='row'>
        <% if @sop_article.id != 1 %>
          <%= link_to sop_article_path(@sop_article.id - 1) do %>
            <span style='position:absolute;left:0px;font-size:120%;color:black;'><i class="fa fa-caret-left" aria-hidden="true" style='font-size:120%'></i>  Previous Topic<span>
          <% end %>
        <% end %>
        <% if @sop_article.id != @sop_article_last_index %>
          <%= link_to sop_article_path(@sop_article.id + 1) do %>
            <span style='position:absolute;right:0px;font-size:120%;color:black;'>Next Topic  <i class="fa fa-caret-right" aria-hidden="true" style='font-size:120%'></i><span>
          <% end %>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <% if !@sop_related_topics.empty? %>
    <div id='isotope_container' style='margin-top:40px;'>
      <% @sop_related_topics.each do |article| %>
        <%= link_to sop_article_path(article), {:style=>'color:#FFFFFF;'} do %>
        <div id="grid_tile_<%= article.title %>" class="<%= build_classes({grid_item: 'grid_item', time: article.sop_time.period.gsub(' ', '_'), offices: article.responsibility.title.gsub(' ', '_'), category: article.sop_category.title.gsub(' ', '_')}) %>"
          style=<%='background-color:' + article.sop_time.color + ';height:220px;' %>>
          <div class='sop_grid_content' style='position:absolute;left:20%;top:30%;'>
          <% color = 'white' %>
          <% if article.sop_time.period == '14 Days-Close' %>
            <% color = 'black' %>
          <% end %>
          <p id='grid_item_time_period' style="color:<%= color %>;position:absolute;top:-10%;left:10%;"><strong><%= article.sop_time.period.upcase %></strong><span id='sop_article_id' style='visibility:hidden;'><%= article.id %></span></p>
          <p id='grid_item_icon'><%= image_tag "sop/icons/#{article.sop_icon.title}.png", width:'70%', height:'70%', class: 'image-responsive', alt: '' %></p>
          <!-- "home/#{@img_name}.png" -->
          <p id='grid_item_article_title' style="color:<%= color %>;"><%= article.title %></p>
          </div>
          <a class='grid_add' href='#' style="top:5px;right:5px;position:absolute;<%= style_visible('add', @user, article) %>;color:black;"><i class="fa fa-plus" aria-hidden="true"></i></a>
          <a class='grid_check' href='#' style="top:5px;right:5px;position:absolute;<%= style_visible('check', @user, article) %>;color:black;"><i class="fa fa-check" aria-hidden="true"></i></a>
        </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
<% end %>