<%= render 'dashboard/nav' %>

<div class='col-md-12'>
  <!-- 4 columns for categories -->
</div>
<% if @sop_article %>
<div class='col-md-3' style="background-color: <%= @sop_aticle.sop_subcategory.color %>;">
  <div class='row'>
    <div class='col-md-1'>
      <div class='sop_article_icon'>
        <%= image_tag "sop_subcategory/#{@sop_article.image_name}.png", class: 'image-responsive', alt: @sop_article.sop_subcategory %>
      </div>
    </div>
    <div class='col-md-1'>
      <ul id='sop_article_logo_category' class='list-unstyled'>
        <li><%= @sop_article.sop_subcategory %></li>
        <li><%= @sop_article.title %></li>
      </ul>
    </div>
  </div>
  <div id='sop_show_table_of_contents'>
  <!-- need more info? -->
  </div>
  <div id='sop_show_references'>
    <!-- is there a mapping to this? -->
  </div>
  <div id='sop_checklist'>
    <
    <ul class='list-unstyled'>

    </ul>
  </div>
  <div id='sop_add_checklist'>
    <input id=<%= @sop_article.title.gsub(' ', '_') %> type='checkbox' value="<%= @sop_article.title.gsub(' ', '_') %>"><label for=<%= @sop_article.title.gsub(' ', '_') %>>ADD TO MY CHECKLIST</label>
  </div>
  <div id='sop_cycle_articles'>
    <% if @sop_article.id != 1 %>
      <div id='sop_prev_topic'>
      <%= link_to sop_article_path(@sop_article.id - 1) do %>
        <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
      <% end %>
      </div>
    <% end %>
    <% if @sop_article.id != @sop_article_last_index %>
      <div id='sop_next_topic'>
      <%= link_to sop_article_path(@sop_article.id + 1) do %>
        <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class='col-md-9'>
  <div id='sop_article_show'>
   <%= @sop_article.description %>
  </div>
  <div id='sop_article_related_articles'>
    <div class='row'>
    <% @sop_article.sop_subcategory.sop_articles.each do |article| %>
      <div class='sop_relative_article'>
        <div class='col-md-1'>
          <div class='sop_article_icon'>
            <%= image_tag "sop_subcategory/#{article.image_name}.png", class: 'image-responsive', alt: article.sop_subcategory %>
          </div>
        </div>
        <div class='col-md-1'>
          <ul id='sop_article_logo_category' class='list-unstyled'>
            <li><%= article.sop_subcategory %></li>
            <li><%= article.title %></li>
          </ul>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
<% end %>