<%= render 'dashboard/nav' %>
<script type="text/javascript">$('#application').css({background:'#FFFFFF'})</script>
<% if @sop_article %>
<div id='sop_article_show_page'>
  <div class='col-md-3' style='border: 2px white solid'>
    <div id="sop_article_logo_row" class='row' style="background-color: <%=  @sop_article.sop_time.color %>;">
      <%= link_to sop_path do %>
      <div style="position:absolute;top:5px;left:5px;color:white;z-index=20"><span>close</span><i class="fa fa-remove" aria-hidden="true"></i></div>
      <% end %>
      <%= image_tag "sop/icons/#{@sop_article.sop_icon.title}.png", id: 'sop_article_icon', class: '', alt: @sop_article.sop_icon.title %>
      <p id='grid_item_article_title' style="visibility:hidden;"><%= @sop_article.title %></p>
      <a id="<%= @sop_article.id %>" class='grid_add' href='' style="top:5px;right:5px;position:absolute;<%= style_visible('add', @user, @sop_article) %>;color:black;"><i class="fa fa-plus" aria-hidden="true"></i></a>
      <a id="<%= @sop_article.id %>" class='grid_check' href='' style="top:5px;right:5px;position:absolute;<%= style_visible('check', @user, @sop_article) %>;color:black;"><i class="fa fa-check" aria-hidden="true"></i></a>
      <div id='sop_article_logo_text_div'>
        <p id='sop_article_logo_text_period'><strong style='color:<%= get_color_for_sop_time(@sop_article.sop_time.period) %>;'><%= @sop_article.sop_time.period %></strong></p>
        <p id='sop_article_logo_text_title'><strong style='color:<%= get_color_for_sop_time(@sop_article.sop_time.period) %>;'><%= @sop_article.title.capitalize %></strong></p>
      </div>
    </div>
    <% if !@sop_article.reference_links.empty? %>
    <div class='row'>
      <div id='sop_show_references'>
        <ul class='list-unstyled' style='color: black;'>
          <% @sop_article.sop_reference_links.each do |link| %>
            <li><%= link_to link.file_name, sop_reference_link_path(link) %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
  <div class='col-md-9' style='border: 2px white solid'>
    <div class='row'>
      <div id='sop_article_show'>
       <%= @sop_article.content.html_safe %>
      </div>
    </div>
  </div>
</div>
<% end %>