<%= render 'dashboard/nav' %>
<div id='library' class='col-md-12'>
  <div id='library_logo' class='col-md-12'>
    <div id='library_logo_image'>
      <div id='c4d_image_div'><img src='/assets/headers/repository-header3-DSC_0473.jpg' class='img-responsive'></div>
    </div>
    <div id='library_logo_text' class='col-md-12'>
      Library
    </div>
    <div id='library_content_search' class='col-md-12'>
      <div id='library_content_search_header_text' class='col-md-12'>
        SEARCH THE DOCUMENT LIBRARY
      </div>
      <div id='library_content_search_input_wrapper' class='col-md-6'>
        <form id="library_content_search_form" class="ui form">
          <input id='library_content_search_input' placeholder='Search' name='search[query]' type='text' alt='Search'>
        </form>
      </div>
    </div>
  </div>
  <div id='library_index_content_wrapper' class='col-md-12'>
    <div id='library_index_content_featured' class='col-md-12'>
      <div id='library_index_content_featured_header_text' class='col-md-2'>
        Featured
      </div>
      <div id='library_index_content_featured_pagination' class='col-md-6'>
        <% unless @featured_references.empty? %>
          <div id='featured_pagination_left_angle_div'>
            <a href=''><i class='fa fa-angle-left fa-2x' aria-hidden='true'></i></a>
          </div>
        <% end %>
        <% @featured_references.each_with_index do |reference, idx| %>
          <div class='library_featured_pagination_indicators <%= 'active' if idx == 0 %>'>
            <a id="<%= idx+1 %>" href=''><%= idx + 1 %></a>
          </div>
        <% end %>
        <% unless @featured_references.empty? %>
          <div id='featured_pagination_right_angle_div'>
            <a href=''><i id='<%= @featured_references.count %>' class='fa fa-angle-right fa-2x' aria-hidden='true'></i></a>
          </div>
        <% end %>
      </div>
      <div id='library_index_content_featured_divider' class='div_border_underline col-md-12'>
      </div>
      <div id='library_index_content_featured_content_grid_wrapper' class='col-md-12'>
        <div id='library_index_content_featured_content_grid' class='col-md-12'>
          <% @featured_references.each_with_index do |reference, idx| %>
            <div class='col-md-12 featured_content_item featured_content_item_<%= idx+1 %> <%= 'active' if idx == 0 %>'>
              <div id='featured_content_title_text' class='col-md-12'>
                <%= reference.title ? reference.title : reference.document_file_name.gsub('_', ' ').gsub('.pdf', '') %>
              </div>
              <div class='col-md-3'>
                <img id='featured_content_item_image' src='<%= reference.absolute_url.gsub('pdf', 'png') %>' class='img-responsive'>
              </div>
              <div class='col-md-7'>
              Download: <%= reference.document_language ? reference.document_language.upcase : reference.language.upcase %> PDF <%= reference.document_file_size/1024 %>KB
              </div>
              <div class='col-md-2 text-right'>
              Catalogue: SOP
              </div>
              <div class='col-md-offset-3 col-md-9'>
                <%= reference.title if reference.title %>
                <%= reference.description if reference.description %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div id='library_index_content_popular_downloads' class='col-md-12'>

    </div>
  </div>
  <div id='library_content_search_results' class='col-md-12'>
  </div>
</div>
