<%= render 'dashboard/nav' %>
<div id='library' class='col-md-12'>
  <div id='library_logo' class='col-md-12'>
    <div id='library_logo_image'>
      <div id='c4d_image_div'><img src='/assets/headers/repository-header3-DSC_0473.jpg' class='img-responsive'></div>
    </div>
    <div id='library_logo_text' class='col-md-12'>
      Library
    </div>
    <div id='library_content_search' class='col-md-12'>
      <div id='library_content_search_header_text' class='col-md-12'>
        SEARCH THE DOCUMENT LIBRARY
      </div>
      <div id='library_content_search_input_wrapper' class='col-md-6'>
        <form id="library_content_search_form" class="ui form">
          <input id='library_content_search_input' placeholder='Search' name='search[query]' type='text' alt='Search'>
        </form>
      </div>
    </div>
  </div>
  <div id='library_index_content_wrapper' class='col-md-12'>
    <div id='library_index_content_featured' class='col-md-12'>
      <div id='library_index_content_featured_header_text' class='col-md-2'>
        Featured
      </div>
      <div id='library_index_content_featured_pagination' class='col-md-6'>
        <% unless @featured_references.empty? %>
          <div id='featured_pagination_left_angle_div'>
            <a href=''><i class='fa fa-angle-left fa-2x' aria-hidden='true'></i></a>
          </div>
        <% end %>
        <% @featured_references.each_with_index do |reference, idx| %>
          <div class='library_featured_pagination_indicators <%= 'active' if idx == 0 %>'>
            <a id="<%= idx+1 %>" href=''><%= idx + 1 %></a>
          </div>
        <% end %>
        <% unless @featured_references.empty? %>
          <div id='featured_pagination_right_angle_div'>
            <a href=''><i id='<%= @featured_references.count %>' class='fa fa-angle-right fa-2x' aria-hidden='true'></i></a>
          </div>
        <% end %>
      </div>
      <div id='library_index_content_featured_divider' class='div_border_underline col-md-12'></div>
      <div id='library_index_content_featured_content_grid_wrapper' class='col-md-12'>
        <div id='library_index_content_featured_content_grid' class='col-md-12'>
          <% @featured_references.each_with_index do |reference, idx| %>
            <div class='col-md-12 featured_content_item featured_content_item_<%= idx+1 %> <%= 'active' if idx == 0 %>'>
              <div id='featured_content_title_text' class='col-md-12'>
                <%= reference.title ? reference.title : reference.document_file_name.gsub('_', ' ').gsub('.pdf', '') %>
              </div>
              <div class='col-md-2'>
                <a id='<%= reference.id %>' href='<%= reference.absolute_url %>' target='_blank' class='reference_download_tracker'><img id='featured_content_item_image' src='<%= reference.absolute_url.gsub('pdf', 'png') %>' class='img-responsive'></a>
              </div>
              <div id='featured_content_item_info_wrapper' class='col-md-10'>
                <div class='col-md-1'>
                  <div class='inline_block'>
                    <div class='counter_indicator_text_div inline_block'><%= @reference_link_info[reference.id][:like_count] %>   </div>
                    <a id='<%= reference.id %>' href='' class='library_like_img reference_like_tracker'>
                      <img src='/assets/icons/icon-like-grey2x.png' class='library_grid_icon'>
                    </a>
                  </div>
                  <div id='library_download_div' class='inline_block'>
                    <div class='counter_indicator_text_div inline_block'><%= @reference_link_info[reference.id][:download_count] %>   </div>
                    <a id='<%= reference.id %>' href='<%= reference.absolute_url %>' target='_blank' class='library_download_img reference_download_tracker'>
                      <img src='/assets/icons/icon-download2x.png' class='library_grid_icon'>
                    </a>
                  </div>
                </div>
                <div class='col-md-7'>
                  <div id='download_related_topics_div' class='bold_text col-md-3'>DOWNLOAD</div>
                  <div class='col-md-5'>
                    <a id='<%= reference.id %>' href='<%= reference.absolute_url %>' target='_blank' class='reference_download_tracker'><div class='reference_search_result_info_language '><%= reference.document_language ? reference.document_language.upcase : reference.language.upcase %></div></a> PDF <%= reference.document_file_size/1024 %>KB
                    <% @reference_link_info[reference.id][:related_topics].each do |related_topic| %>
                      <a id='<%= related_topic.id %>' href='<%= related_topic.absolute_url %>' target='_blank' class='reference_search_result_info_language reference_download_tracker'><div><%= related_topic.document_language ? related_topic.document_language.upcase : related_topic.language.upcase %></div></a> PDF <%= related_topic.document_file_size/1024 %>KB
                    <% end %>
                  </div>
                </div>
                <div class='col-md-offset-1 col-md-2 text-right'>
                  CATALOGUE:
                  <% if @reference_link_info[reference.id][:isC4D] %>
                    <div class='inline_block reference_search_result_is_c4d bold_text'>C4D</div>
                  <% end %>
                  <% if @reference_link_info[reference.id][:isSOP] %>
                    <div class='inline_block reference_search_result_is_sop bold_text'>SOP</div>
                  <% end %>
                </div>
                <div id='library_reference_link_description' class='col-md-9'>
                  <%= reference.title if reference.title %>
                  <%= reference.description if reference.description %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div id='library_index_content_popular_downloads' class='col-md-12'>



      <div id='library_index_content_popular_header_text' class='col-md-4'>
        Popular Downloads
      </div>
      <div id='library_index_content_popular_divider' class='div_border_underline col-md-12'></div>
      <div id='library_index_content_popular_content_grid_wrapper' class='col-md-12'>
        <div id='library_index_content_popular_content_grid' class='col-md-12'>
          <% @featured_references.each_with_index do |reference, idx| %>
            <div class='col-md-12 popular_content_item popular_content_item_<%= idx+1 %> active'>
              <div class='col-md-2'>
                <a id='<%= reference.id %>' href='<%= reference.absolute_url %>' target='_blank' class='reference_download_tracker'><img id='popular_content_item_image' src='<%= reference.absolute_url.gsub('pdf', 'png') %>' class='img-responsive'></a>
              </div>
              <div id='popular_content_item_info_wrapper' class='col-md-10'>
                <div id='popular_content_title_text' class='col-md-12'>
                  <%= reference.title ? reference.title : reference.document_file_name.gsub('_', ' ').gsub('.pdf', '') %>
                </div>
                <div class='col-md-1'>
                  <div class='inline_block'>
                    <div class='counter_indicator_text_div inline_block'><%= @reference_link_info[reference.id][:like_count] %>   </div>
                    <a id='<%= reference.id %>' href='' class='library_like_img reference_like_tracker'>
                      <img src='/assets/icons/icon-like-grey2x.png' class='library_grid_icon'>
                    </a>
                  </div>
                  <div id='library_download_div' class='inline_block'>
                    <div class='counter_indicator_text_div inline_block'><%= @reference_link_info[reference.id][:download_count] %>   </div>
                    <a id='<%= reference.id %>' href='<%= reference.absolute_url %>' target='_blank' class='library_download_img reference_download_tracker'>
                      <img src='/assets/icons/icon-download2x.png' class='library_grid_icon'>
                    </a>
                  </div>
                </div>
                <div class='col-md-7'>
                  <div id='download_related_topics_div' class='bold_text col-md-3'>DOWNLOAD</div>
                  <div class='col-md-5'>
                    <a id='<%= reference.id %>' href='<%= reference.absolute_url %>' target='_blank' class='reference_download_tracker'><div class='reference_search_result_info_language'><%= reference.document_language ? reference.document_language.upcase : reference.language.upcase %></div></a> PDF <%= reference.document_file_size/1024 %>KB
                    <% @reference_link_info[reference.id][:related_topics].each do |related_topic| %>
                      <a id='<%= related_topic.id %>' href='<%= related_topic.absolute_url %>' target='_blank' class='reference_download_tracker'><div class='reference_search_result_info_language'><%= related_topic.document_language ? related_topic.document_language.upcase : related_topic.language.upcase %></div></a> PDF <%= related_topic.document_file_size/1024 %>KB
                    <% end %>
                  </div>
                </div>
                <div class='col-md-offset-1 col-md-2 text-right'>
                  CATALOGUE:
                  <% if @reference_link_info[reference.id][:isC4D] %>
                    <div class='inline_block reference_search_result_is_c4d bold_text'>C4D</div>
                  <% end %>
                  <% if @reference_link_info[reference.id][:isSOP] %>
                    <div class='inline_block reference_search_result_is_sop bold_text'>SOP</div>
                  <% end %>
                </div>
                <div id='library_reference_link_description' class='col-md-9'>
                  <%= reference.title if reference.title %>
                  <%= reference.description if reference.description %>
                </div>
              </div>
              <div id='library_index_content_popular_divider' class='div_border_underline col-md-12 opacity_light margin_top margin_bottom'></div>
            </div>
          <% end %>
        </div>
      </div>



    </div>
  </div>
  <div id='library_content_search_results' class='col-md-12'>
  </div>
</div>
