<div class='col-md-12'>
    <% @c4d_subcategories.each do |subcategory| %>
      <% color_idx = 0 %>
      <div id='c4d_subcategory_accordion' class='ui styled accordion col-md-12' style='background-color:<%= subcategory.color %>'>
        <div id='c4d_subcategory_title_div' class='title'>
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          <%= image_tag "c4d/icons/#{@c4d_category.title}/#{subcategory.title + '.png'}", id: 'c4d_subcategory_accordian_icon', alt: subcategory.title %><span><%= subcategory.title %></span><div style='height:1px;border-bottom:1px solid white;margin-top:10px'></div></div>
        <div class="content">
          <div class="title">
            <table>
              <tr>
                <% @c4d_articles.each_with_index do |article, idx| %>
                  <% if article.c4d_subcategory_id == subcategory.id %>
                    <td id="<%= article.id %>" class='c4d_article_item' style="background-color: <%= @article_colors[article.c4d_category.title.gsub(' ','').to_sym][article.c4d_subcategory.title.gsub(' ','').to_sym][color_idx] %>;">
                        <a id='<%= article.id %>' class='c4d_grid_add' href='' style="<%= c4d_style_visible('add', @user, article) %>;" title='Add to toolkit' data-toggle='tooltip'><img id='add_article_image' src='/assets/icons/add-to.png'></a>
                        <a id='<%= article.id %>' class='c4d_grid_check' href='' style="<%= c4d_style_visible('check', @user, article) %>;" title='Remove from toolkit' data-toggle='tooltip'><img id='remove_article_image' src='/assets/icons/remove-check.png'></a>
                        <div id='c4d_grid_tile_title'><a id='<%= article.id %>' href='/c4d/<%= article.c4d_category.title.downcase %>/<%= article.id %>-<%= article.title.gsub(' ', '_') %>/'><%= article.title %></a></div>
                    </td>
                    <% color_idx += 1 %>
                  <% end %>
                <% end %>
              </tr>
            </table>
          </div>
        </div>
      </div>
    <% end %>
    <% if @loadC4DArticle %>
      <div id='c4d_article_load_trigger_div'>
        <div id='<%= @path %>'>
        </div>
      </div>
    <% end %>
  </div>
<% if @c4d_category %>
  <script type="text/javascript">
    $(document.getElementById("c4d_selection_page")).css('background',`linear-gradient(<%= @c4d_category.color %>,#000000)`)
    $(document.getElementById("c4d_selection_page")).css('background', `-webkit-linear-gradient(<%= @c4d_category.color %>,#000000)`)
    $(document.getElementById("c4d_selection_page")).css('background', `-o-linear-gradient(<%= @c4d_category.color %>,#000000)`)
    $(document.getElementById("c4d_selection_page")).css('background', `-moz-linear-gradient(<%= @c4d_category.color %>,#000000)`)
  </script>
<% end %>