<div class='col-md-12'>
    <% @c4d_subcategories.each do |subcategory| %>
      <div id='c4d_subcategory_accordion' class='ui styled accordion col-md-12' style='background-color:<%= subcategory.color %>'>
        <div id='c4d_subcategory_title_div' class='title'><i class="dropdown icon"></i><%= image_tag "c4d/icons/#{@c4d_category.title}/#{subcategory.title + '.png'}", width:'100px', height: '80px', class: '', alt: subcategory.title %><span><%= subcategory.title %></span><div style='height:1px;border-bottom:1px solid white;margin-top:10px'></div></div>
        <div class="content">
          <div class="title">
            <table>
              <tr>
                <% @c4d_articles.each_with_index do |article, idx| %>
                  <% if article.c4d_subcategory_id == subcategory.id %>
                    <% if @article_colors[article.c4d_category.title.gsub(' ','').to_sym][article.c4d_subcategory.title.gsub(' ','').to_sym][idx].nil? %>
                    <% idx = 0 %>
                    <% end %>
                    <td id="<%= article.id %>" class='c4d_article_item' style="background-color: <%= @article_colors[article.c4d_category.title.gsub(' ','').to_sym][article.c4d_subcategory.title.gsub(' ','').to_sym][idx] %>;">
                        <a id='<%= article.id %>' class='c4d_grid_add' href='' style="<%= c4d_style_visible('add', @user, article) %>;" title='Add to toolkit' data-toggle='tooltip'><img id='add_article_image' src='/assets/icons/add-to.png'></a>
                        <a id='<%= article.id %>' class='c4d_grid_check' href='' style="<%= c4d_style_visible('check', @user, article) %>;" title='Remove from toolkit' data-toggle='tooltip'><img id='remove_article_image' src='/assets/icons/remove-check.png'></a>
                        <div id='c4d_grid_tile_title'><a id='<%= article.id %>' href='/c4d_articles/<%= article.id %>'><%= article.title %></a></div>
                    </td>
                  <% end %>
                <% end %>
              </tr>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>