<%= render 'dashboard/nav' %>

<div id='fill-vertical' class='container'>
  <% @c4d_categories.each_with_index do |category, index| %>
    <div class='col-md-6' style='background-color:<%= category.color %>';>
      <div class='col-md-2'>
        <p><%= "#{index +1}."+ "#{category.title}" %></p>
        <p><%= category.description %></p>
      </div>
      <div class='col-md-2'>
        <ul class='list-unstyled'>
          <% category.c4d_subcategories.each do |sub_category| %>
            <li><%= sub_category.title %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>