<%= render 'dashboard/nav' %>
<div id="c4d_selection_page" class='col-md-12'>
  <div class='col-md-12'>
    <div class='col-md-12'>
      <div id='c4d_image_div'><img src="/assets/headers/C4D-crop-Pervez-Altaf.jpg" class='img-responsive'></div>
      <div id='c4d_image_title' class='col-md-7'>Communicate effectively</div>
      <div id='c4d_image_description' class='col-md-8'>TOOLS & GUIDANCE TO HELP YOU DESIGN DATA-DRIVEN COMMUNICATION STRATEGIES THAT HELP VACCINATE EVERY CHILD.</div>
    </div>
  </div>
  <a href='/c4d/understand/'>
  <div id='c4d_category_div' class='col-md-6' style='background-color:<%= @c4d_categories[0].color %>'>
    <div id='c4d_category_title_div' class='col-md-12'>1. Understand</div>
    <div id='c4d_right_angle_div' class='col-md-1 text-right'>
      <i class="fa fa-angle-right fa-4x" aria-hidden="true"></i>
    </div>
    <div id='c4d_category_description_div' class='col-md-8'>
    GET TO KNOW THE PROBLEM, THE RISK GROUPS AND THEIR PERCEPTIONS, AND HOW TO USE RESEARCH TO REFINE OBJECTIVES
    </div>
  </div>
  </a>
  <a href='/c4d/plan/'>
  <div id='c4d_category_div' class='col-md-6' style='background-color:<%= @c4d_categories[1].color %>'>
    <div id='c4d_category_title_div' class='col-md-12'>2. Plan</div>
    <div id='c4d_right_angle_div' class='col-md-12 text-right'>
      <i class="fa fa-angle-right fa-4x" aria-hidden="true"></i>
    </div>
    <div id='c4d_category_description_div' class='col-md-9'>
    DEFINE YOUR TARGET AUDIENCE AND BARRIERS TO CHANGE, THEN DEVELOP MESSAGES AND CHOOSE CHANNELS TO REACH YOUR AUDIENCE
    </div>
  </div>
  </a>
  <a href='/c4d/act/'>
  <div id='c4d_category_div' class='col-md-6' style='background-color:<%= @c4d_categories[2].color %>'>
    <div id='c4d_category_title_div' class='col-md-12'>3. Act</div>
    <div id='c4d_right_angle_div' class='col-md-12 text-right'>
      <i class="fa fa-angle-right fa-4x" aria-hidden="true"></i>
    </div>
    <div id='c4d_category_description_div' class='col-md-8'>
    INTEGRATE COMMUNICATIONS TACTICS AND UNDERSTAND THEIR STRENGTHS AND WEAKNESSES, THEN EVALUATE PERFORMANCE
    </div>
  </div>
  </a>
  <a href='/library/'>
  <div id='c4d_category_div' class='col-md-6' style='background-color:<%= @c4d_categories[3].color %>'>
    <div id='c4d_category_title_div' class='col-md-12'>4. Library</div>
    <div id='c4d_right_angle_div' class='col-md-12 text-right'>
      <i class="fa fa-angle-right fa-4x" aria-hidden="true"></i>
    </div>
    <div id='c4d_category_description_div' class='col-md-6'>
    EXTRA TOOLS, TEMPLATES & TRAINING TO HELP YOU REACH YOUR OBJECTIVES
    </div>
  </div>
  </a>
  <%= render 'footer/index' %>
</div>
<% if @c4d_category %>
  <script type="text/javascript">
    $(document.getElementById("c4d_selection_page")).css('background',`linear-gradient(#35848C,#000000)`)
    $(document.getElementById("c4d_selection_page")).css('background', `-webkit-linear-gradient(#35848C,#000000)`)
    $(document.getElementById("c4d_selection_page")).css('background', `-o-linear-gradient(#35848C,#000000)`)
    $(document.getElementById("c4d_selection_page")).css('background', `-moz-linear-gradient(#35848C,#000000)`)
  </script>
<% end %>