<%= render 'dashboard/nav' %>
<div id="c4d_selection_page">
  <div class='col-md-12'>

    <div class='col-md-7'>GET TO KNOW THE PROBLEM THE RISK GROUPS AND THEIR PERCEPTIONS, AND HOW TO USE RESEARCH TO REFINE OBJECTIVES</div>
  </div>
  <div class='col-md-12'>
    <% @c4d_subcategories.each do |subcategory| %>
      <div id='c4d_subcategory_accordion' class='ui styled accordion col-md-12' style='background-color:<%= subcategory.color %>'>
        <div id='c4d_subcategory_title_div' class='title'><i class="dropdown icon"></i><%= image_tag "c4d/icons/#{@c4d_category.title}/#{subcategory.title + '.png'}", width:'100px', height: '80px', class: '', alt: subcategory.title %><%= subcategory.title %></div>
        <div class="content">
          <div class="title">
            <% @c4d_articles.each do |article| %>
              <% if article.c4d_subcategory_id == subcategory.id %>
                  <%= link_to c4d_article_path(article), id: article.id do %>
                    <div id="<%= article.id %>" class='c4d_article_item' style="background-color: <%= article.c4d_subcategory.color %>;">
                      <div class='c4d_grid_item_content'>
                        <p class="c4d_grid_item_subcategory <%= article.c4d_subcategory.title %>"><strong class='text-left' style='color:<%= get_color_for_subcategory(article.c4d_subcategory.title) %>;'></strong><span id='c4d_article_id' style='visibility:hidden;'><%= article.id %></span></p>
                        <p id='c4d_grid_tile_title' class="c4d_grid_item_article_title <%= article.title %>" style='color:<%= get_color_for_subcategory(article.c4d_subcategory.title) %>;'><%= article.title %></p>
                      </div>
                      <a class='c4d_grid_add' href='' style="<%= c4d_style_visible('add', @user, article) %>;"><i class="fa fa-plus" aria-hidden="true"></i></a>
                      <a class='c4d_grid_check' href='' style="<%= c4d_style_visible('check', @user, article) %>;"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </div>
                  <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div id="c4d_article_show_modal" class="ui large modal">
  <div class="header">
  </div>
  <div class="content">
  </div>
</div>