<%= render 'dashboard/nav' %>
<div class="button-group c4d-filters-button-group">
<% @c4d_categories.each_with_index do |category, idx| %>
<!-- set button .is-checked to background color -->
  <div class='col-md-3'>
    <button class="button" data-filter=".<%= category.title %>" style="background-color:<%= category.color if idx == 0 %>;"><%= category.title %></button>
  </div>
<% end %>
</div>
<div class='row'>
  <div id='c4d_category_grid'>
    <% @c4d_articles.each do |article| %>
      <%= link_to c4d_article_path(article) do %>
      <% if article.c4d_subcategory.nil? %>
      <% end %>
      <div id="<%= article.id %>" class="<%= build_classes({item: 'c4d_grid_item', c4d_category: article.c4d_category.title.gsub(' ', '_')}) %>"
        style="background-color: <%= article.c4d_subcategory.color %>;">
        <div class='c4d_grid_item_content'>
          <p class="c4d_grid_item_subcategory <%= article.c4d_subcategory.title %>"><strong class='text-left' style='white-space:nowrap;color:<%= get_color_for_subcategory(article.c4d_subcategory.title) %>;'><%= article.c4d_subcategory.title %></strong><span id='c4d_article_id' style='visibility:hidden;'><%= article.id %></span></p>
          <p class='c4d_grid_article_icon'>
            <%= image_tag "c4d/icons/#{article.c4d_category.title}/#{article.c4d_subcategory.title + '.png'}", width:'120px', height: '100px', class: '', alt: article.c4d_subcategory.title %>
          </p>
          <p class="c4d_grid_item_article_title <%= article.title %>" style='color:<%= get_color_for_subcategory(article.c4d_subcategory.title) %>;'><%= article.title %></p>
        </div>
        <a class='c4d_grid_add' href='' style="top:5px;right:5px;position:absolute;<%= c4d_style_visible('add', @user, article) %>;color:black;"><i class="fa fa-plus" aria-hidden="true"></i></a>
        <a class='c4d_grid_check' href='' style="top:5px;right:5px;position:absolute;<%= c4d_style_visible('check', @user, article) %>;color:black;"><i class="fa fa-check" aria-hidden="true"></i></a>
      </div>
      <% end %>
    <% end %>
  </div>
</div>