<%= render 'dashboard/nav' %>
<div id='sop_selection_page'>
  <div id='sop_filter_container'>
    <!-- filters -->
    <div id="sop_grid_filter_row" class='row text-center'>
      <div id="select_filter_dropdown_menu" class="ui dropdown col-md-2">
        <i class="fa fa-filter" aria-hidden="true"></i>
        <div id="select_filter_header" class="text">Filter by</div>
        <div class="menu">
          <div class="item">
            <div id='filter_list' class=''>
              <div class='sop_filter_header'>TIME</div>
              <div class='sop_checkboxes'>
                <ul class='list-unstyled text-uppercase'>
                  <% @sop_times.each do |time| %>
                    <li class='filter-item'><input class='check_box' id=<%= time.period.gsub(' ', '_') %> type='checkbox' value=".<%= time.period.gsub(' ', '_') %>"><label class='filter-label' for=<%= time.period.gsub(' ', '_') %>><%= time.period %></label></li>
                  <% end %>
                </ul>
              </div>
            </div>
            <div id='filter_list' class=''>
              <div class='sop_filter_header'>CATEGORY</div>
              <div class='sop_checkboxes'>
                <ul class='list-unstyled text-uppercase'>
                  <% @sop_categories.each do |category| %>
                    <li class='filter-item'><input class='check_box' id=<%= category.title.gsub(' ', '_') %> type='checkbox' value=".<%= category.title.gsub(' ', '_') %>"><label class='filter-label' for=<%= category.title.gsub(' ', '_') %>><%= category.title %></label></li>
                  <% end %>
                </ul>
              </div>
            </div>
            <div id='filter_list' class=''>
              <div class='sop_filter_header'>RESPONSIBILITY</div>
              <div class='sop_checkboxes'>
                <ul class='list-unstyled text-uppercase'>
                  <% @responsible_offices.each do |office| %>
                    <li class='filter-item'><input class='check_box' id=<%= office.title.gsub(' ', '_') %> type='checkbox' value=".<%= office.title.gsub(' ', '_') %>"><label class='filter-label' for=<%= office.title.gsub(' ', '_') %>><%= office.title %></label></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id='selected_filters_output' class='col-md-8 text-left'>
      </div>
      <button id='sop_filter_clear_all' class='col-md-2'>
        <a href=''>Clear All</em></a>
      </button>
    </div>
  </div>
  <div class='row text-center'>
    <div id='isotope_container'>
      <% @sop_articles.each do |article| %>
        <%= link_to sop_article_path(article) do %>
          <div id="<%= article.id %>" class="<%= build_classes({grid_item: 'grid_item', time: article.sop_time.period.gsub(' ', '_'), offices: article.responsible_office.title.gsub(' ', '_'), category: article.sop_category.title.gsub(' ', '_')}) %>"
            style=<%='background-color:' + article.sop_time.color + ';' %>>
            <div class='sop_grid_content'>
            <p id='grid_item_time_period' style="color:<%= get_color_for_sop_time(article.sop_time.period) %>;"><strong><%= article.sop_time.period.upcase %></strong><span id="<%= article.id %>"></span></p>
            <p id='grid_item_icon'><%= image_tag "sop/icons/#{article.sop_icon.title}.png", width:'40%', height:'40%', class: 'image-responsive', alt: "" %></p>
            <p id='grid_item_article_title' style="color:<%= get_color_for_sop_time(article.sop_time.period) %>;"><%= article.title %></p>
            </div>
            <a class='grid_add' href='' style="<%= style_visible('add', @user, article) %>;"><i class="fa fa-plus" aria-hidden="true"></i></a>
            <a class='grid_check' href='' style="<%= style_visible('check', @user, article) %>;"><i class="fa fa-check" aria-hidden="true"></i></a>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div id="sop_article_show_modal" class="long modal">
</div>