<%= render 'dashboard/nav' %>

<div id='sop_filter_container' class='container-fluid'>
  <div class='col-md-2'>
    <div class='row text-center'>Select filters</div>
    <div class='row'>
      <div class='sop_filter_header text-center'>Time</div>
      <div class='sop_checkboxes'>
        <ul class='list-unstyled'>
          <% @sop_times.each do |time| %>
            <li class='filter-item'><label><input id=<%= time.period %> type='checkbox' value=""><%= time.period %></label></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class='row'>
      <div class='sop_filter_header text-center'>Category</div>
      <div class='sop_checkboxes'>
        <ul class='list-unstyled'>
          <% @sop_categories.each do |category| %>
            <li class='filter-item'><label><input id=<%= category.title %> type='checkbox' value=""><%= category.title %></label></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class='row'>
      <div class='sop_filter_header text-center'>Responsibility</div>
      <div class='sop_checkboxes'>
        <ul class='list-unstyled'>
          <% @offices.each do |office| %>
            <li class='filter-item'><label><input id=<%= office.title %> type='checkbox' value=""><%= office.title %></label></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class='row text-center'>
      <span class='btn btn-danger'>Clear All</span>
    </div>
  </div>
  <div class='col-md-9'>
    <div class='grid'>
      <div class='grid-sizer'></div>
      <% @sop_articles.each do |article| %>
        <div id=<%= 'article '+ article.id.to_s %> class='grid-item bg-primary'>
          <ul class='list-unstyled'>
            <li><%= @sop_times[article.sop_time_id - 1].period %></li>
            <li>icon</li>
            <li id='title'><%= article.title %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>

