<%= render 'dashboard/nav' %>
<div id='sop_selection_page' class='col-md-12'>
  <div id='sop_landing_image_container' class='col-md-12'>
    <div id='sop_landing_image' class='col-md-12'>
      <img class='img-responsive' src='/assets/headers/SOP-crop-UNI46827.jpg'>
    </div>
    <div id='sop_landing_image_title'>Respond to an outbreak</div>
    <div id='sop_landing_image_description'>WHAT, WHEN, WHERE AND HOW TO RESPOND TO A POLIO OUTBREAK</div>
  </div>
  <div id='sop_landing_description_div' class='col-md-12'>
    <div id='sop_landing_overview_description_div' class='col-md-6'>
      <a href='/sop/overview/'>
      <div id='sop_landing_overview_title' class='col-md-12'>
        Overview of the SOPs
      </div>
      <div id='sop_landing_overview_arrow' class='col-md-12 text-right'>
        <i class="fa fa-angle-right fa-4x" aria-hidden="true"></i>
      </div>
      <div id='sop_landing_overview_description' class='col-md-8'>
        <span>AN IN-DEPTH MANUAL FOR NEW USERS, OR FOR THOSE WHO NEED A REFRESHER</span>
      </div>
      </a>
    </div>
    <div id='sop_landing_wtdw_description_div' class='col-md-6'>
      <a href='/sop/what_to_do_when/'>
      <div id='sop_landing_wtdw_title' class='col-md-12'>
      What to do, when
      </div>
      <div id='sop_landing_wtdw_arrow' class='col-md-12 text-right'>
        <i class="fa fa-angle-right fa-4x" aria-hidden="true"></i>
      </div>
      <div id='sop_landing_wtdw_description' class='col-md-9'>
        <span>YOUR GUIDE TO TIMELY OUTBREAK RESPONSE</span>
      </div>
      </a>
    </div>
  </div>
  <%= render 'footer/index' %>
</div>
<% if @backgrounds[:index] %>
  <script type="text/javascript">
    $(document.getElementById("sop_selection_page")).css('background',`linear-gradient(<%= @backgrounds[:index] %>,#000000)`)
    $(document.getElementById("sop_selection_page")).css('background', `-webkit-linear-gradient(<%= @backgrounds[:index] %>,#000000)`)
    $(document.getElementById("sop_selection_page")).css('background', `-o-linear-gradient(<%= @backgrounds[:index] %>,#000000)`)
    $(document.getElementById("sop_selection_page")).css('background', `-moz-linear-gradient(<%= @backgrounds[:index] %>,#000000)`)
  </script>
<% end %>