<%= render 'dashboard/nav' %>
<div id='sop_selection_page' class='col-md-12'>
  <div id='sop_selection_wrapper_div'>
    <div id='sop_landing_image_container' class='col-md-12'>
      <div id='sop_landing_image'>
        <img class='img-responsive' src='/assets/headers/what-to-do-crop-UNI46823.jpg'>
      </div>
      <div id='sop_selection_image_container_title'>What to do, when</div>
      <div id='sop_selection_image_container_description'>YOUR GUIDE TO TIMELY OUTBREAK RESPONSE</div>
    </div>
    <div id='sop_filter_container' class='col-md-12'>
      <!-- filters -->
      <div id="sop_grid_filter_row" class='row text-center'>
        <div id="select_filter_dropdown_menu" class="ui dropdown col-md-2">
          <i class="fa fa-filter" aria-hidden="true"></i>
          <div id="select_filter_header" class="text"><span class='sop_red_text'>SELECT FILTERS</span></div>
          <div class="menu">
            <div class="item">
              <div id='filter_list' class=''>
                <div class='sop_filter_header'><img src='/assets/sop/grid_icons/icon-time-white.png'>WHEN TO RESPOND</div>
                <div class='sop_checkboxes'>
                  <ul class='list-unstyled text-uppercase'>
                    <% @sop_times.each do |time| %>
                      <li class='filter-item'><input class='check_box' id=<%= time.period.gsub(' ', '_') %> type='checkbox' value=".<%= time.period.gsub(' ', '_') %>"><label id='sop_filter_sop_time_label' class='filter-label' for=<%= time.period.gsub(' ', '_') %> style='background-color:<%= time.color %>;'><%= time.period %></label></li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <div id='filter_list' class=''>
                <div class='sop_filter_header'><img src='/assets/sop/grid_icons/icon-category-white.png'>CATEGORY OF RESPONSE</div>
                <div class='sop_checkboxes'>
                  <ul class='list-unstyled text-uppercase'>
                    <% @sop_categories.each do |category| %>
                      <li class='filter-item'><input class='check_box' id=<%= category.title.gsub(' ', '_') %> type='checkbox' value=".<%= category.title.gsub(' ', '_') %>"><label class='filter-label' for=<%= category.title.gsub(' ', '_') %>><img id='sop_filter_category_icon' src='<%= getSopCategoryIcon(category.title) %>'>&nbsp;<span><%= category.title %></span></label></li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <div id='filter_list' class=''>
                <div class='sop_filter_header'><img src='/assets/sop/grid_icons/icon-resp-white.png'>RESPONSIBILITY</div>
                <div class='sop_checkboxes'>
                  <ul class='list-unstyled text-uppercase'>
                    <% @responsible_offices.each do |office| %>
                      <li class='filter-item'><input class='check_box' id=<%= office.title.gsub(' ', '_') %> type='checkbox' value=".<%= office.title.gsub(' ', '_') %>"><label class='filter-label' for=<%= office.title.gsub(' ', '_') %>><span><%= office.title %></span></label></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of dropdown -->
        <div id='selected_filters_output' class='col-md-8 text-left'>
        </div>
        <div id='sop_filter_clear_all' class='col-md-2 text-right'>
          <a href=''>Clear All</em></a>
        </div>
        <div id='sop_filter_line' class='col-md-12'>

        </div>
      </div>
    </div>
    <div class='col-md-12 text-center'>
      <div id='isotope_container' class='col-md-12 text-center'>
        <% @sop_articles.each do |article| %>
          <%= link_to sop_article_path(article) do %>
            <div id="<%= article.id %>" class="<%= build_classes({grid_item: 'grid_item', time: article.sop_time.period.gsub(' ', '_'), offices: article.responsible_office.title.gsub(' ', '_'), category: article.sop_category.title.gsub(' ', '_')}) %>"
              style=<%='background-color:' + article.sop_time.color + ';' %>>
              <div class='sop_grid_content'>
                <p id='grid_item_time_period' class='text-left col-md-12'><%= image_tag "sop/grid_icons/#{ get_grid_image_by_sop_subcategory('24 Hours', 'icon-time-white')}.png", width: '17px', height: '17px' %><%= article.sop_time.period %><span id="<%= article.id %>"></span></p>
                <p id='grid_item_article_title' class='col-md-11 text-left'><strong><%= article.title %></strong></p>
                <div id='grid_item_icon_div' class='row'>
                  <div id='sop_grid_subcat_and_responsible_office_div' class='text-left col-md-12'>
                    <div id='sop_grid_cat_div' class='col-md-8'>
                      <%= image_tag "sop/grid_icons/#{ get_grid_image_by_sop_subcategory('24 Hours', 'icon-category-white')}.png", id:'sop_grid_cat_image', width: '8px', height: '8px', class:'col-md-2' %>
                      <div id='sop_grid_cat_div_text' class='col-md-10'>
                        &nbsp;<%= article.sop_category.title %>
                      </div>
                    </div>
                    <div id='sop_grid_responsible_office' class='col-md-6 text-left'>
                      <%= image_tag "sop/grid_icons/#{ get_grid_image_by_sop_subcategory('24 Hours', 'icon-resp-white')}.png", id:'sop_grid_responsible_office_image', width: '13px', height: '15px', class:'col-md-2' %>
                      <div class='col-md-8'>
                        &nbsp;&nbsp;<%= article.responsible_office.title %>
                      </div>
                    </div>
                  </div>
                  <%= image_tag "sop/icons/#{article.sop_icon.title}.png", id:'sop_grid_icon_img', alt: "" %>
                </div>
              </div>
              <a class='grid_add' href='' style="<%= style_visible('add', @user, article) %>;" title='Add to checklist' data-toggle='tooltip'>
                <img id='add_article_image' src='/assets/icons/add-to.png'>
              </a>
              <a class='grid_check' href='' style="<%= style_visible('check', @user, article) %>;"  title='Remove from checklist' data-toggle='tooltip'>
                <img id='remove_article_image' src='/assets/icons/remove-check.png'>
              </a>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'footer/index' %>
</div>
