<%= render 'dashboard/nav' %>
<% if @c4d_article %>
<div id="sop_article_show_logo" class='col-md-12' style="background-color: <%=  @c4d_article.c4d_subcategory.color %>;">
  <div id="<%= @c4d_article.id %>" class='row'>
    <%= link_to c4d_path, id: 'sop_article_show_close_button' do %>
      <span>close&nbsp;</span><i class="fa fa-remove" aria-hidden="true"></i>
    <% end %>
    <p class="c4d_grid_item_article_title <%= @c4d_article.title %>" style='display:none;visibility:hidden;'><%= @c4d_article.title %></p>
    <a class='c4d_grid_add' href='' style="<%= c4d_style_visible('add', @user, @c4d_article) %>;"><i class="fa fa-plus" aria-hidden="true"></i></a>
    <a class='c4d_grid_check' href='' style="<%= c4d_style_visible('check', @user, @c4d_article) %>;"><i class="fa fa-check" aria-hidden="true"></i></a>
    <div class='col-md-12 text-center'>
      <ul class="list-unstyled">
        <li id="sop_article_show_subcategory_text"><%= @c4d_article.c4d_subcategory.title %></li>
        <li id="sop_article_show_article_title_text"><%= @c4d_article.title.capitalize %></li>
      </ul>
    </div>
  </div>
  <% if !@c4d_article.reference_links.empty? %>
  <div class='row'>
    <div id='c4d_show_references'>
      <ul class='list-unstyled' style='color: black;'>
        <% @c4d_article.c4d_reference_links.each do |link| %>
          <li><%= link_to link.file_name, c4d_reference_link_path(link) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>
    <!-- if table of content exists row of toc -->
    <!-- <div id='c4d_show_table_of_contents'> -->
    <!-- </div> -->
</div>
<div class='col-md-9' style='border: 2px white solid'>
  <div class='row'>
    <div id='c4d_article_show' style='color:black;'>
     <%= @c4d_article.content.html_safe %>
    </div>
  </div>
  <div class='row'>
    <div id='c4d_cycle_articles'>
      <% if @c4d_article_last_index != 0 %>
        <div class='row'>
        <% if @c4d_article.id != 1 %>
          <%= link_to c4d_article_path(@c4d_article.id - 1) do %>
            <span style='position:absolute;left:0px;font-size:120%;color:black;'><i class="fa fa-caret-left" aria-hidden="true" style='font-size:120%'></i>  Previous Topic<span>
          <% end %>
        <% end %>
        <% if @c4d_article.id != @c4d_article_last_index %>
          <%= link_to c4d_article_path(@c4d_article.id + 1) do %>
            <span style='position:absolute;right:0px;font-size:120%;color:black;'>Next Topic  <i class="fa fa-caret-right" aria-hidden="true" style='font-size:120%'></i><span>
          <% end %>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <% if !@c4d_related_topics.empty? %>
    <div id='c4d_category_grid' style='margin-top:35px'>
      <% @c4d_related_topics.each do |article| %>
        <%= link_to c4d_article_path(article) do %>
        <div id="c4d_grid_tile_<%= article.title %>" class="<%= build_classes({item: 'c4d_grid_item', c4d_category: article.c4d_category.title.gsub(' ', '_')}) %>"
          style="height:200px;background-color: <%= article.c4d_subcategory.color %>;">
          <div class='c4d_grid_item_content' style='position:absolute;left:32px;top:25%;'>
            <p class="c4d_grid_item_subcategory <%= article.c4d_subcategory.title %>" style='position:absolute;top:-35px;left:10%;'><strong style='color:<%= get_color_for_subcategory(@c4d_article.c4d_subcategory.title) %>;'><%= article.c4d_subcategory.title %></strong><span id='c4d_article_id' style='visibility:hidden;'><%= article.id %></span></p>
            <%= image_tag "c4d/icons/#{article.c4d_category.title}/#{article.c4d_subcategory.title + '.png'}", width: '70%', height: '55%', class: 'image-responsive', alt: article.c4d_subcategory.title %>
            <p class="c4d_grid_item_article_title <%= article.title %>" style='color:<%= get_color_for_subcategory(@c4d_article.c4d_subcategory.title) %>;'><%= article.title %></p>
          </div>
          <a class='c4d_grid_add' href='' style="top:5px;right:5px;position:absolute;<%= c4d_style_visible('add', @user, article) %>;color:black;"><i class="fa fa-plus" aria-hidden="true"></i></a>
          <a class='c4d_grid_check' href='' style="top:5px;right:5px;position:absolute;<%= c4d_style_visible('check', @user, article) %>;color:black;"><i class="fa fa-check" aria-hidden="true"></i></a>
        </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
<% end %>